:root {
    --background-color: #222222;
    --middle-color: rgba(88,88,88,0.8);
    --foreground-color: lightgrey;
    --hightlight-color: #7FFFD4;
    --big-image: url(images/titleImageDark.jpg);
    --primary-font: 'Inter', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: lightgrey;
        --middle-color: rgba(88,88,88,0.8);
        --foreground-color: #222222;
        --hightlight-color: #7FFFD4;
        --big-image: url(images/titleImageLight.jpg);
        --primary-font: 'Inter', sans-serif;
        --secondary-font: 'Roboto', sans-serif;
    }
}

/* If you change the values above, remember to change the ones in the things divs!!! */

body {
    background-color: var(--background-color);
    color:var(--foreground-color);
    transition: color 0.3s;
    padding: 0;
    margin: 0;
}

/* body::-webkit-scrollbar {
    width: 1vw;
}

body::-webkit-scrollbar-track {
    background: var(--background-color);
}

body::-webkit-scrollbar-thumb {
    background: var(--highlight-color);
} */

/* Navigation Bar */

.navbar {
    z-index: 99;
    margin-top: 0;
    width: 100%;
    position: fixed;
    background-color: var(--middle-color);
    color: var(--foreground-color);
    font-family: var(--secondary-font);
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-title {
    margin: 2.5vh 0 0 3vh;
    cursor: pointer;
    color: whitesmoke;
    font-size: 4vh;
}

#navbar-title-link {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.navbar-list {
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
}

.navbar-option {
    height: 100%;
}

.navbar-link {
    display: flex;
    cursor: pointer;
    height: 10vh;
}

.navbar-icon {
    width: 5vh;
    margin: 0 2vh;
}

.navbar-link-text {
    display: none;
}

/* Page Content */

main {
    padding: 0;
}

.fullspan-image {
    height: 100vh;
    background-image: var(--big-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: opacity 1s ease;
    opacity: 0;
}

.fullspan-text {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
}

#fullspan-name {
    transition: opacity 0.3s ease;
}

.footer {
    padding: 5vh 5vh 2.5vh 5vh;
}

.things-gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 2vh;
}

.things-gallery > * {
    display: flex;
    width: 33%;
    margin: 1px;
    height: 40vh;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.things-gallery > *:active {
    transition: all 50ms ease-in;
    transform: scale(0.95);
}

.things-gallery > * > * > h2 {
    padding: 1vh;
    opacity: 0;
    background-color: #222222;
    color: lightgrey;
    box-shadow: 0px 4px 14px 0px rgba(0,0,0,1);
    border-radius: 1vh;
    transition: all 100ms ease-in;
}

.things-gallery > *:hover > * > h2 {
    opacity: 1;
}

#thing-div-f1ssi0n {
    background-image: url(/images/thing-f1ssi0n.png);
    background-size: cover;
}

#thing-div-wordcounter {
    background-image: url(/images/thing-wordcounter.png);
    background-size: cover;
}

#thing-div-wordcounter > * > h2 {
    background-color: lightgray;
    color: #222;
    box-shadow: 0px 4px 14px 0px lightgrey;
}

#thing-div-crystal {
    background-image: url(/images/thing-crystal.png);
    background-size: cover;
}

#thing-div-xmobile {
    background-image: url(/images/thing-xmobile.png);
    background-size: cover;
}

#thing-div-atsomeone {
    background-image: url(/images/thing-atsomeone.png);
    background-size: cover;
}

#thing-div-macciestimetable {
    background-image: url(/images/thing-macciestimetable.png);
    background-size: cover;
}

#thing-div-atsomeone > * > h2 {
    background-color: lightgrey;
    color: #222;
    box-shadow: 0px 4px 14px 0px lightgrey;
}

.footer h1 {
    margin: 0;
}

.footer a {
    text-decoration: underline;
    color: var(--foreground-color);
    transition: color 0.3s;
}

.footer a:hover {
    color: var(--hightlight-color);
}

h1 {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 10vh;
}

h2 {
    font-family: var(--primary-font);
    font-weight: 400;
}

p {
    font-family: var(--secondary-font);
}

a {
    text-decoration: none;
}

@media (orientation: portrait) {
    .navbar {
        flex-direction: row-reverse;
    }

    .navbar-title {
        display: none;
    }

    .fullspan-text {
        width: 95vw;
    }

    .things-gallery > * {
        width: 100%;
        height: 25vh;
    }

    .things-gallery > * > * > h2 {
        opacity: 0.8;
        font-size: 2vh;
    }

    h1 {
        font-size: 7vh;
    }

    p {
        font-size: 2vh;
    }
}